*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #ff4d05;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}


.home-page{
    background-image: linear-gradient(rgba(4,9,30,0.7) ,rgba(4,9,30,0.7)),url(/img/bg.JPG);
    color: var(--text-color);
    min-height: 100vh;
    width: 100%;
    margin-top: 0%;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 50 px;

}



header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
    padding-left: 50px;
    padding-right: 50px;
    
}


.logo{
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

span{
    color: var(--main-color);
}

.navlst{
    display: flex;
}

.navlst a{
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlst a:hover{
    color: var(--main-color);
}

.navlst a.Active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

.text{
    width: 90%;
    color: white;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text h1{
    font-size: 70px;
}

.text span{
    color: var(--main-color);
}

.text p{
    margin: 10px 0 40px;
    font-size: 15px;

}

.text p::after{
    content: '';
    width: 18%;
    height: 1px;
    background: snow;
    display: block;
    margin: auto;
    transition: 0.2s;
}


.text a{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid salmon;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
}

.text a:hover{
    background-color: salmon;
    color: aliceblue;
}


.about{
    background: var(--bg-color);
    color: var(--text-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem ;
    padding-left: 35px;
    padding-top: 50px;
    padding-right: 35px;
}

header.sticky{
    background: black;
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
}

.About h2{
    font-size: var(--h2-font);
    line-height: 1;
}

.About h4{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.About a{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid salmon;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
}

.About a:hover{
    background-color: var(--main-color);
    color: aliceblue;
}

.About p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 4rem;
}

.about-img{
    margin-bottom: 30px;
}

.team{
    background: var(--second-bg-color);
}

.main-text{
    text-align: center;
    color: var(--text-color);
}

.main-text p{
    color: var(--second-color);
    font-size: 15px;
    margin-top: 10px;
}

.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
    padding-top: 30px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    text-align: center;
}

.column{
    width: 100%;
    margin: 2em 1em;
    background-color: var(--main-color);
    border-radius: 2%;
}

.card{
    box-shadow: 0 0 2.2em rgba(25, 0, 58, 0.15);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    cursor: pointer;
    transition: 0.5s;
}

.card .img-container{
    width: 8em;
    height: 8em;
    background-color: var(--second-bg-color);
    padding: 0.5em;
    border-radius: 48%;
    margin: 0 auto 2em auto;
}

.card img{
    width: 100%;
    border-radius: 48%;
}

.icons{
    width: 1.5%;
    margin: auto;
}

.card h3{
    font-weight: 500;
}

.card p {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
}

.card a{
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
}

.row{
    background-color: var(--second-bg-color);
}

.card:hover {
    background: linear-gradient(#f9a508, #ffa755 );
    color: white;
}
.card:hover .img-container{
    transform: scale(1.1);
    background-color: white;
}

@media screen and (min-width: 768px) {
    section {
        padding: 1em 7em;
    }
}

@media screen and (min-width: 992px) {
    section {
        padding: 1em;
        align-items: center;
    }
    .team{
        align-items: center;
    }
    .row{
        align-items: center;
    }
    .card {
        padding: 5em 1em;
    }
    .column{
        flex: 0 0 30%;
        max-width: 30%;
        align-items: center;
    }
    .icons{
        width: 10%;
        margin: auto;
    }
}
