@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
    font-family: 'Poppins', sans-serif;
}
h4{
    font-size: 20px;
    color: #222;
    font-family: 'Poppins', sans-serif;
}
h6{
    font-size: 12px;
   font-weight: 700;
    color: #222;
}
p{
    font-size: 16px;
    color: #222;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 20px;
}

.section-jm1{
    margin: 40px 0;
}

body{
    width: 100%;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
    padding-left: 50px;
    padding-right: 50px;
    
}


#hero{
    background-image: url(/img/hero4.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    margin-bottom: 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #088178;
}

#hero p{
    margin-bottom: 35px;
}

#hero button{
    background-image: url(/img/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 19px 85px 15px 69px;
    background-repeat: no-repeat ;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
}

#features .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#features .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(0,0,0,0.03);
}

#features .fe-box img{
    width: 100%;
    margin-bottom: 10px;

}

#features .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#features .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}

#features .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#features .fe-box:nth-child(4) h6{
    background-color: #fff2ef;
}

#product1 {
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063 ;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgba(243,181,25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .fa-sharp{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#product1 .pro .fa-sharp:hover{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #cad4cb ;
    color: #07655f ;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
